body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:960px;
}
#u236_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:960px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:149px;
  width:311px;
  height:112px;
  display:flex;
  font-size:20px;
  text-align:center;
  line-height:28px;
}
#u237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:295px;
  width:140px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u238.mouseDown {
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-571px;
  width:50px;
  height:50px;
  display:flex;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-579px;
  width:50px;
  height:50px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-543px;
  width:50px;
  height:50px;
  display:flex;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:-600px;
  width:50px;
  height:50px;
  display:flex;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-477px;
  width:50px;
  height:50px;
  display:flex;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:-423px;
  width:50px;
  height:50px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-341px;
  width:50px;
  height:50px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-402px;
  width:50px;
  height:50px;
  display:flex;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-487px;
  width:50px;
  height:50px;
  display:flex;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:-450px;
  width:50px;
  height:50px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-312px;
  width:50px;
  height:50px;
  display:flex;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:-358px;
  width:50px;
  height:50px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-444px;
  width:50px;
  height:50px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:-502px;
  width:50px;
  height:50px;
  display:flex;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:-274px;
  width:50px;
  height:50px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-232px;
  width:50px;
  height:50px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:-244px;
  width:50px;
  height:50px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-207px;
  width:50px;
  height:50px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:-154px;
  width:50px;
  height:50px;
  display:flex;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:671px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:377px;
  height:671px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:180px;
  width:300px;
  height:227px;
  display:flex;
  line-height:28px;
}
#u261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:394px;
  width:42px;
  height:16px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:416px;
  width:95px;
  height:16px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:671px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:0px;
  width:377px;
  height:671px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT', sans-serif;
  font-weight:700;
  font-style:italic;
  color:#F58D1C;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:96px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT', sans-serif;
  font-weight:700;
  font-style:italic;
  color:#F58D1C;
}
#u266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT', sans-serif;
  font-weight:700;
  font-style:italic;
  color:#F58D1C;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:204px;
  width:242px;
  height:96px;
  display:flex;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT', sans-serif;
  font-weight:700;
  font-style:italic;
  color:#F58D1C;
}
#u267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
